<header class="site-header">
	<div class="row expanded align-middle">

		<div class="small-12 large-1 columns">
			<a href="{{ site.link }}"><img class="site-header__logo" src="{{ theme.link }}/dist/assets/images/geriactors-logo-white.svg"></a>
		</div>

		<div class="columns">
			<nav class="main-navigation" role="navigation" id="top-nav">
			      <ul class="main-navigation__list menu dropdown align-center large-horizontal vertical" data-dropdown-menu>
			        {% for item in menu.get_items %}
			          <li class="nav-main-item main-navigation__item {{item.classes | join(' ')}}"><a class="nav-main-link main-navigation__link" href="{{item.link}}">{{item.title}}</a>
			            {% if item.get_children %}
			              <ul class="menu submenu align-left main-navigation__dropdown">
			                {% for child in item.get_children %}
			                  <li class="nav-drop-item main-navigation__dropdown-item"><a class="main-navigation__dropdown-link" href="{{child.link}}">{{child.title}}</a></li>
			                {% endfor %}
			               </ul>
			            {% endif %}
			          </li>
			        {% endfor %}
			      </ul>
			</nav>
		</div>

	</div>
</header>
